main {
    margin: 0;
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
}
.contenedor {
    display: flex;
    border-radius: 20px;
    width: 60%;
    justify-content: left;
    height: auto;
    box-shadow: 0 0 10px gray;
    padding: 20px;
    flex-direction: column;
    margin-top: 20px;
}
hr{
    width: 100%;
}