main button {
    background-color: orangered;
    color: white;
    border: 0px;
    border-radius: 100px;
    width: 250px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    transition: ease 0.1s;
}
.buttondiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
main button:hover {
    background-color: rgb(202, 54, 0);
    transform: scale(1.05);
}
main button:active {
    background-color:rgb(168, 45, 0) ;
    transform: scale(0.95);
}
.paginaañadir {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}


.formañadir {
    width: 70%;
    max-width: 900px;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-family: "Roboto", sans-serif;
}


.campo {
    display: flex;
    flex-direction: column;
}


.campo label {
    font-weight: 500;
    margin-bottom: 5px;
}


.campo input,
.campo select {
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 0 10px;
    font-family: "Roboto", sans-serif;
}


.divboton {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.divboton button {
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 40px;
    width: 350px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.divboton .cancelar {
    background-color: gray;

}
@media screen and (max-width:768px){
.formañadir {
    grid-template-columns: 1fr !important;
}
.divboton {
    grid-column: span 1;
}
}
