* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../media/pexels-pixabay-159400@2x.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.login-card {
    background: white;
    width:40rem;
    height:35rem ;
    padding: 30px 60px;
    border-radius: 28px;
    text-align: center;
}

.logo {
    width: 90px;
    margin-bottom: 20px;
}

.login-card h1 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-card h1 span {
    font-weight: 700;
}

.subtitle {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 30px;
}

label {
    display: block;
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 6px;
    color: #333;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-bottom: 18px;
    outline: none;
}

.btn-login {
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 14px;
    background: #ff6a00;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
}

.help {
    font-size: 0.75rem;
    color: #777;
    margin-top: 20px;
}
