*{
    font-family: "Roboto", sans-serif;
}
nav img {
    width:25px;
    height: 25px;
}
nav a {
    position: relative;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items:center;
    color: black;
    font-weight:450;
    gap: 5px;
    font-size: 18px !important;
    transition: ease 0.1s;
}
nav a:hover {
    transform:scale(1.10);
}
.logonav{
    width: 40px;
    height: 40px;
    margin: 10px;
    justify-self: center;
}

nav {
    background-color: rgb(255, 255, 255);
    top:0;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content:space-around;
    display: flex;
    border-bottom: 2px solid gray;
    padding-top: 10px;

}
.anteslogo {
    display: flex;
    justify-content:space-around;
    flex: 1;
    margin-bottom: 15px;
}
.despueslogo {
    display: flex;
    justify-content: space-around;
    width:auto; 
    flex: 1;
    align-items: end;
    padding-bottom: 15px;

}

.container-nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5vw;
}

.tarjeta-nosotros1,.tarjeta-nosotros2,.tarjeta-nosotros3,.tarjeta-nosotros4{
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px;
    margin: 10%;
    align-content:center;
    text-align: center;
    width: 20vw;
    height: 25vw;
}

.nosotros-image{
    width: 168px;
    height: 168px;
}

.text-nombre{
    display: block;
    margin-top: 5vw;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
}
.text-rol{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

@media (max-width: 1328px) {

    .tarjeta-nosotros1,.tarjeta-nosotros2,.tarjeta-nosotros3,.tarjeta-nosotros4{
        height: 25vw;
    }

    .nosotros-image{
        margin-top: 1vw;
        width: 128px;
        height: 128px;
    }
    
    .text-nombre, .text-rol{
        margin-top: 5vw;
    }
    
}

@media (max-width: 1024px) {
    .container-nosotros{
        grid-template-columns: 1fr;
        margin: 10% 0;
    }


    .tarjeta-nosotros1,.tarjeta-nosotros2,.tarjeta-nosotros3,.tarjeta-nosotros4{
        height: 40vw;
        width: 80vw;
        margin: 2% 10%;
    }

    .nosotros-image{
        width: 184px;
        height: 184px;
    }
    
    .text-nombre, .text-rol{
        margin-top: 5vw;
    }
    
}

@media (max-width: 738px) {
    .container-nosotros{
        grid-template-columns: 1fr;
        margin: 10% 0;
    }


    .tarjeta-nosotros1,.tarjeta-nosotros2,.tarjeta-nosotros3,.tarjeta-nosotros4{
        height: 70vw;
        width: 80vw;
        margin: 2% 10%;
    }


    
    .text-nombre, .text-rol{
        margin-top: 15vw;
    }
    
}

@media (max-width: 472px) {
    .container-nosotros{
        grid-template-columns: 1fr;
        margin: 10% 0;
    }

    .tarjeta-nosotros1,.tarjeta-nosotros2,.tarjeta-nosotros3,.tarjeta-nosotros4{
        height: 80vw;
        width: 80vw;
        margin: 2% 10%;
    }

    .text-nombre, .text-rol{
        margin-top: 1vw;
    }
    
}

