*{
    font-family: "Roboto", sans-serif;
}
nav img {
    width:25px;
    height: 25px;
}
nav a {
    position: relative;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items:center;
    color: black;
    font-weight:450;
    gap: 5px;
    font-size: 18px !important;
    transition: ease 0.1s;
}
nav a:hover {
    transform:scale(1.10);
}
.logonav{
    width: 40px;
    height: 40px;
    margin: 10px;
    justify-self: center;
}

nav {
    background-color: rgb(255, 255, 255);
    top:0;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content:space-around;
    display: flex;
    border-bottom: 2px solid gray;
    padding-top: 10px;

}
.anteslogo {
    display: flex;
    justify-content:space-around;
    flex: 1;
    margin-bottom: 15px;
}
.despueslogo {
    display: flex;
    justify-content: space-around;
    width:auto; 
    flex: 1;
    align-items: end;
    padding-bottom: 15px;

}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
* {
    outline: 0px solid red;
}
.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.perfil img {
    width: 20px;
    height: 20px;
}
.usuario img  {
    width: 50px;
    height: 50px;
}
.perfil button {
    width: fit-content;
    height: fit-content;
    padding:0;
    margin: 0;
    background-color: transparent;
    border-radius: 100%;
    border: none;
}
.añadir, .refrescar, .eliminar, .reportar, .ayuda {
    margin: 20px 0;
}

h1{
    text-align: center;
    margin-top: 3vw;
}

.main-container{
    background-color: #ffffff;
    box-shadow: gray 1px 1px 10px 1px;
    margin: auto;
    width: 30vw;
    height: 30vw;
    padding: 1vw;
    align-self: center;
    align-items: center;
    align-content: center;
    border-radius: 40px;
    text-align: center;
    display: flex;
}

.icon{
    max-width: 64px;
    max-height: 64px;
    margin-bottom: 1vw;
}

label{
    margin-top: 2vw;
    display: flex;
}

textarea{
    margin-top: 0.1vw;
    width: 27.7vw;
    height: 10vw;
    border-radius: 20px;
    border: 0.1px solid ;
    padding: 0.5vw;
}

.button{
    text-decoration: none;
    color: white;
    background-color: #ff6a00;
    border-radius: 20px;
    height: 2.2vw;
    width: 15vw;
    align-content: center;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    display: block;
    margin: 2vw auto;
    
}

.button:hover{
    transform:translateY(-5px);
}

.button:active{
    background-color: #e2660d;
}

@media (max-width: 327px) {
    .main-container{
        height: 80vw;

    }

    .icon{
        max-width: 32px;
        max-height: 32px;
    }

    textarea{
        height: 2vw;
    }
}

@media (max-width: 768px) {
    .main-container{
        height: 50vw;

    }

    textarea{
        height: 2vw;
    }
}