table{

}

th {
    border: none;
    margin: 0px;
    padding: 0px;
    gap: 0;
    padding: 10px;
    outline: 1px solid gray;
    width: 300px;
    height: 60px;
    min-width: 50px;
}
tbody {
    border-radius: 30px;
}
th:nth-child(2){
    background-color: rgb(226, 226, 226);
}
th:nth-child(3){
    background-color: rgb(255, 255, 255);
}
th:nth-child(4){
    background-color: rgb(27, 27, 27);
    color: white;
}
i {
    scale: 1.5;
}
*{
    font-family: "Roboto", sans-serif;
}
button {
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    border: none;
    background-color: orangered;
    border-radius: 100px;
    transition: ease 0.2s;
    color: whitesmoke;

}
button:hover{
    transform: scale(1.10);
    background-color: rgb(228, 61, 0);
}
button:active{
    transform: scale(0.90);
    background-color: rgb(184, 49, 0);
}
.tabladeprecios{
    font-size: 25px;
}
caption{
    margin-top: 15px;
    caption-side: bottom;
    font-size: 20px;
    color: #333333;
    overflow-x: wrap;

}
main{
    display: flex;
    overflow-x: auto;
    justify-content: center;
}
body{
    overflow-x: hidden;
}
tr:nth-child(even){
    background-color: rgb(241, 241, 241);
}
@media (max-width: 450px){
main{
    justify-content: left;
}
}
    