*{
    font-family: "Roboto", sans-serif;
}
nav img {
    width:25px;
    height: 25px;
}
nav a {
    position: relative;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items:center;
    color: black;
    font-weight:450;
    gap: 5px;
    font-size: 18px !important;
    transition: ease 0.1s;
}
nav a:hover {
    transform:scale(1.10);
}
.logonav{
    width: 40px;
    height: 40px;
    margin: 10px;
    justify-self: center;
}

nav {
    background-color: rgb(255, 255, 255);
    top:0;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content:space-around;
    display: flex;
    border-bottom: 2px solid gray;
    padding-top: 10px;

}
.anteslogo {
    display: flex;
    justify-content:space-around;
    flex: 1;
    margin-bottom: 15px;
}
.despueslogo {
    display: flex;
    justify-content: space-around;
    width:auto; 
    flex: 1;
    align-items: end;
    padding-bottom: 15px;

}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
* {
    outline: 0px solid red;
}
.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.perfil img {
    width: 20px;
    height: 20px;
}
.usuario{
    width: 50px !important;
    height: 50px !important;
}
#botonperfil:checked~.perfildiv{
    opacity: 1;

}
.chek {
    position: absolute;
    display: none;
}
.perfil button {
    width: fit-content;
    height: fit-content;
    padding:0;
    margin: 0;
    background-color: transparent;
    border-radius: 100%;
    border: none;
}
.a単adir, .refrescar, .eliminar, .reportar, .ayuda {
    margin: 20px 0;
}
h1{
    font-family: "Roboto", sans-serif;
    justify-self: center;
}
p{
    font-family: "Roboto", sans-serif;
    justify-self: center;
}
h3 {
    font-family: "Roboto", sans-serif;
    justify-self: center;
}
.barradecategorias {
    display: grid;
    justify-items:left;
    width: 86vw;
    justify-self: center;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr ;
}
.indicadores{
    border: 2px solid gray;
    display: grid;
    justify-items: center;
    border-radius: 20px;
    width: 86vw;
    color: rgb(44, 44, 44);
    font-weight: 400;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr ;
    min-height: 60px;
    align-items: center;
}

.contenedorindicadores {
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 100vw;
    margin-bottom: 12px;
}
.arrastrable {
    justify-self: center;
    align-self: center;
    margin-left: 10px ;


}
.contenedorbarradecategorias {
    width: 100vw;
    display: flex;
    direction: row;
    justify-content: center;
}
#arrastrableinvisible {
    opacity: 0;
    margin-left: 10px;
}
.centrar {
    justify-self: center;
}
.circulorojo {
    border-radius:100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloverde{
    border-radius:100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloamarillo{
    border-radius:100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloblanco {
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
}
#p31 {
    background: conic-gradient(
        red 0% 31%,
        rgb(226, 226, 226) 31% 100%
    );
}
#p25 {
    background: conic-gradient(
        lime 0% 25%,
        rgb(226, 226, 226) 25% 100%
    );
}
#p80 {
    background: conic-gradient(
        lime 0% 80%,
        rgb(226, 226, 226) 80% 100%
    );
}
#p32 {
    background: conic-gradient(
        red 0% 32%,
        rgb(226, 226, 226) 32% 100%
    );
}
#p95 {
    background: conic-gradient(
        lime 0% 95%,
        rgb(226, 226, 226) 95% 100%
    );
}
#p75 {
    background: conic-gradient(
        gold 0% 75%,
        rgb(226, 226, 226)   75% 100%
    );
}
.divboton {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.divboton .btna単adir {
    width: 350px;
    height: 60px;    
    color: white;
    background-color: orangered;
    border-radius: 40px;
    border: none;
    font-size: 17px;
    transition: ease 0.1s;
}
.btna単adir:hover {
    transform: scale(1.05);
    background-color: rgb(209, 56, 0);
}
.btna単adir:active {
    transform: scale(0.95);
    background-color: rgb(173, 47, 1);
}
.perfildiv {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    opacity: 0;
    pointer-events: none;

}
.perfildiv img{
    scale: 6;
    grid-column: 1/3;
    margin: 50px;
    justify-self: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 100px;
}
.perfildiv h4 {
    grid-column: 1/3;
    margin-bottom: 7px;
    margin-top: 30px;
}
.perfildiv hr {
    grid-column: 1/3;
    width: 100%;
}
.perfildiv a {
    grid-column: 1/3;
    padding: 10px;
    width: 91%;
    transition: ease 0.3s;
}
.perfildiv a:hover {
    background-color: rgb(221, 221, 221);
}
.perfildiv i {
margin-right: 7px;
}
@media (max-width: 768px) {
    nav a span {
    display: none;
    }
    .barradecategorias {
    display: none;
    }
    .contenedorindicadores {
    grid-template-columns: 1fr;
    }
    .indicadores {
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 15px;
        height: auto;
        text-align: left;
    }
    .indicadores p {
    justify-self: start;
    }
    .indicadores p:nth-child(1) {
    grid-column: span 2;
    font-weight: bold;
    }
    .circulorojo,
    .circuloverde,
    .circuloamarillo {
    grid-column: span 2;
    justify-self: center;
    }
}