nav img {
    width:25px;
    height: 25px;
}
nav a {
    position: relative;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items:center;
    color: black;
    font-weight:450;
    gap: 5px;
    font-size: 18px !important;

}
.logonav{
    width: 40px;
    height: 40px;
    margin: 10px;
    justify-self: center;
}
nav {
    background-color: rgb(255, 255, 255);
    top:0;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content:space-around;
    display: flex;
    border-bottom: 2px solid gray;
    padding-top: 10px;

}
.anteslogo {
    display: flex;
    justify-content:space-around;
    flex: 1;
    margin-bottom: 15px;
}
.despueslogo {
    display: flex;
    justify-content: space-around;
    width:auto; 
    flex: 1;
    align-items: end;
    padding-bottom: 15px;

}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
* {
    outline: 0px solid red;
}
.perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
.perfil img {
    width: 20px;
    height: 20px;
}
.usuario img  {
    width: 50px;
    height: 50px;
}
.perfil button {
    width: fit-content;
    height: fit-content;
    padding:0;
    margin: 0;
    background-color: transparent;
    border-radius: 100%;
    border: none;
}
.añadir, .refrescar, .eliminar, .reportar, .ayuda {
    margin: 20px 0;
}
h1{
    font-family: "Roboto", sans-serif;
    justify-self: center;
}
p{
    font-family: "Roboto", sans-serif;
    justify-self: center;
}
h3 {
    font-family: "Roboto", sans-serif;
    justify-self: center;
}
.barradecategorias {
    display: grid;
    justify-items: center;
    width: 86vw;
    justify-self: center;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr ;
}
.indicadores{
    border: 2px solid gray;
    display: grid;
    justify-items: center;
    border-radius: 20px;
    width: 86vw;
    color: rgb(44, 44, 44);
    font-weight: 400;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr ;
    height: 6.5vh;
    align-items: center;
}

.contenedorindicadores {
    display: grid;
    flex-direction: row;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 100vw;
    margin-bottom: 12px;
}
.arrastrable {
    justify-self: center;
    align-self: center;
    margin-left: 10px ;


}
.contenedorbarradecategorias {
    width: 100vw;
    display: flex;
    direction: row;
    justify-content: center;
}
#arrastrableinvisible {
    opacity: 0;
    margin-left: 10px;
}
.centrar {
    justify-self: center;
}
.circulorojo {
    border-radius:100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloverde{
    border-radius:100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloamarillo{
    border-radius:100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloblanco {
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Roboto", sans-serif;
}
#p31 {
    background: conic-gradient(
        red 0% 31%,
        rgb(226, 226, 226) 31% 100%
    );
}
#p25 {
    background: conic-gradient(
        lime 0% 25%,
        rgb(226, 226, 226) 25% 100%
    );
}
#p80 {
    background: conic-gradient(
        lime 0% 80%,
        rgb(226, 226, 226) 80% 100%
    );
}
#p32 {
    background: conic-gradient(
        red 0% 32%,
        rgb(226, 226, 226) 32% 100%
    );
}
#p95 {
    background: conic-gradient(
        lime 0% 95%,
        rgb(226, 226, 226) 95% 100%
    );
}
#p75 {
    background: conic-gradient(
        gold 0% 75%,
        rgb(226, 226, 226)   75% 100%
    );
}